<section class="color-white-fondo seccion-contactame position-relative" id="contacto">
    <img class="imagen-forma-footer" src="assets/images/forma1.png" alt="">
    <img class="imagen-forma-footer-derecha" src="assets/images/forma3.png" alt="">

    <div class="container">
        <div class="justify-content-center row ">
            <div class="col-12 col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <h1 class="titulo-contactame position-relative text-center">Contact me
                </h1>
                <p class="text-center">For more information <span class="color-primary"> contact me</span>
                </p>
                <p class="text-sm text-center"> <i class="fas fa-envelope"></i>
                    emmanueldl@tecdevsmx.com
                </p>
                <p class="text-sm text-center"> <i class="fab fa-whatsapp"></i> +52 (831)-254-2110</p>

                <img class="img-contact" src="/assets/images/ilustraciones/contact2.svg" alt="">
            </div>
            <div class="col-12 col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <p class="text-sm">Enter your information to contact me
                </p>

                <!-- <form [formGroup]="formContacto"> -->


                <form>
                    <div class="mb-3">
                        <div class="form-floating">
                            <label for="nombre">Name</label>
                            <input formControlName="nombre" type="text" class="form-control inputs" placeholder=""
                                id="nombre" aria-describedby="emailHelp">
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <label for="correo_">Email</label>
                            <input formControlName="correo" type="email" class="form-control inputs"
                                placeholder="" id="correo_" aria-describedby="emailHelp">
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <label for="telefono">Phone</label>
                            <input formControlName="numero" type="tel" class="form-control inputs"
                                placeholder="" id="telefono" aria-describedby="telefono">
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-floating">
                            <label for="mensaje">Message</label>
                            <textarea formControlName="mensaje" class="form-control inputs" placeholder=""
                                id="mensaje" rows="1" style="height: 100px"></textarea>
                        </div>
                    </div>
                    <button type="button" class="btn w-100 btn-ver-mas mb-5">Send
                    </button>

                    <!-- <button [disabled]="formContacto.invalid" (click)="enviarMensaje()" type="button"
                        class="btn w-100 button-primary-normal mb-5">Enviar
                    </button> -->

                </form>
            </div>
        </div>
    </div>
</section>