// home
.portada-home {
    background-image: url(/assets/images/portada-h.jpg);
    height: 100vh;
    min-height: 500px;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    background-size: cover;
}

.circulo-home {
    z-index: 1;
    position: absolute;
    width: 700px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: slideIn 0.75s ease-in-out forwards;

}

.img-perfil-home {
    z-index: 3;
    position: absolute;
    width: 650px;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.titulo-cargo {
    z-index: 2;
    position: relative;
    text-align: center;
    font-size: 110px;
    font-weight: 800;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--colorBlanco);
}

.titulo-cargo-sec {
    z-index: 2;
    top: 21%;
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    color: var(--colorBlanco);
}

.btn-about-me {
    z-index: 4;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ff0095;
    background-color: #ff00952d;
    color: var(--colorBlanco);
    border-radius: 100px;
}
.btn-about-me:hover {
    background-color: var(--colorPrimario);
}




@keyframes slideIn {
    0% {
        transform: scale(10);
    }
   
}
