<div class="portada-home" id="portada-home-id">
    <!-- <img class="circulo-home" src="/assets/images/circulo.png" alt=""> -->

    <div class="orb circulo-home"></div>

    
    <img class="img-perfil-home" src="/assets/images/img-perfil.png" alt="">

    <button class="btn btn-about-me" onclick="location.href='#portada-aboutme-id'" [routerLink]="['/aboutme']"
        routerLinkActive="active"><i class="far fa-address-card"></i>About me</button>
    <h3 class="titulo-cargo-sec">I,m a</h3>
    <h1 class="titulo-cargo typing">FrontEnd Developer</h1>

</div>