<div class="portada-home">
    <div class="circulo circulo-home"></div>
    <img class="img-perfil-home" src="/assets/images/img-perfil1.png" alt="">
    <h3 class="titulo-cargo-sec">Hello, my name is
        <br>
        <span>
            Emmanuel
        </span>
    </h3>
    <h1 class="titulo-cargo txt-rotate" data-period="2000" data-rotate='[ "UX Designer.", "FrontEnd."]'></h1>
    <div class="botones-home">
        <a href="#portada-aboutme-id" class="btn">About me</a>
        <a href="#portada-experience-id" class="btn">Work Experience</a>
    </div>
</div>

<div class="effect-wrap">
    <div class="effect effect-1"></div>
    <div class="effect effect-2">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="effect effect-3"></div>
    <div class="effect effect-4"></div>
    <div class="effect effect-5"></div>
    <div class="effect effect-6">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>