<div class="portada portada-about" id="portada-aboutme-id">
    <div class=" container-text">
        <div class="text-portada">
            <h1><span class="title-portada">About</span> <br> <span class="title-me">
                    Me
                </span></h1>
            <p class="p-portada">I like the UI / UX design <br>
                and FrontEnd development</p>
            <a href="#description" class="btn btn-ver-mas"> <i class="fas fa-arrow-circle-down"></i> See
                more</a>
        </div>
    </div>
</div>

<div class="scroll-up-btn "><i class="fas fa-arrow-circle-up"></i> </div>


<svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 " preserveAspectRatio="none">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z" />
    </defs>
    <g class="parallax1">
        <use xlink:href="#gentle-wave" x="50" y="3" fill="#f461c1" />
    </g>
    <g class="parallax2">
        <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2" />
    </g>
    <g class="parallax3">
        <use xlink:href="#gentle-wave" x="50" y="9" fill="#3461c1" />
    </g>
    <g class="parallax4">
        <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff" />
    </g>
</svg>


<section class="seccion-aboutme" id="description">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <h1 class="titulos-aboutme titulo-whoiam">Who I Am?</h1>
                <h4 class="subtitulo-aboutme">My name is Emmanuel De León</h4>
                <p class="description-aboutme">
                    I am a person who is passionate about the design and interaction of applications, I like to create
                    designs with a good user experience as well as FrontEnd development using different languages ​​such
                    as HTML, CSS, JavaScript and technologies such as Angular and React. I have experience in academic
                    projects, work experience in projects of institutions outside the university, and personal projects.

                </p>
                <button class="btn btn-cv"><i class="fas fa-briefcase"></i> Curriculum vitae</button>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row justify-content-center">
                    <img class="img-perfil-aboutme" src="/assets/images/img-aboutme.png" alt="">
                </div>

            </div>
        </div>
    </div>
</section>


<div class="container position-relative">
    <h1 class="titulos-aboutme titulo-education">Education</h1>
</div>
<ul class="timeline">
    <li>
        <div class="direction-r">
            <div class="flag-wrapper">
                <span class="hexa"></span>
                <span class="flag">ComputerStystems Engineer.</span>
                <span class="time-wrapper"><span class="time">August 2021</span></span>
            </div>
            <div class="desc">I graduated from the degree in computer systems engineering at the Instituto Tecnológico
                Superior de El Mante</div>
        </div>
    </li>

    <li>
        <div class="direction-l">
            <div class="flag-wrapper">
                <span class="hexa"></span>
                <span class="flag">Electrician Technician.</span>
                <span class="time-wrapper"><span class="time">August 2017</span></span>
            </div>
            <div class="desc">Studied electrician technician at the Centro de Bachillerato Tecnológico Industrial y de
                Servicios N15.</div>
        </div>
    </li>
</ul>



<section class="seccion-services position-relative mb-5" id="servicios">
    <div class="container">
        <h1 class="titulos-aboutme titulo-passion">passion</h1>
        <div class="container-cards">
            <a class="card1 card-1">
                <h3 class="text-center title-pasion">Design UI/UX</h3>
                <img class="img-services" src="/assets/images/ilustraciones/diseñar.svg" alt="Diseño UI/UX">
                <p class="small text-center">
                    Design of mobile applications and web pages with good user experience

                </p>
                <div class="go-corner">
                    <div class="go-arrow">
                        <i class="fas fa-arrow-alt-circle-down"></i>
                    </div>
                </div>
            </a>
            <a class="card1 card-2">
                <h3 class="text-center title-pasion">Web Developer</h3>
                <img class="img-services" src="/assets/images/ilustraciones/desarrollar.svg" alt="Desarrollo Web">
                <p class="small text-center">FrontEnd development in web pages and applications
                </p>
                <div class="go-corner">
                    <div class="go-arrow">
                        <i class="fas fa-arrow-alt-circle-down"></i>
                    </div>
                </div>
            </a>
            <a class="card1 card-3">
                <h3 class="text-center title-pasion">Mobile Developer</h3>
                <img class="img-services" src="/assets/images/ilustraciones/mobile.svg" alt="Desarrollo Mobile">
                <p class="small text-center">FrontEnd development of interfaces for mobile applications
                </p>
                <div class="go-corner">
                    <div class="go-arrow">
                        <i class="fas fa-arrow-alt-circle-down"></i>
                    </div>
                </div>
            </a>
            <a class="card1 card-4">
                <h3 class="text-center title-pasion">Desktop Developer</h3>
                <img class="img-services" src="/assets/images/ilustraciones/desktop.svg" alt="Desarrollo Desktop">
                <p class="small text-center">FrontEnd development in desktop systems and applications
                </p>
                <div class="go-corner">
                    <div class="go-arrow">
                        <i class="fas fa-arrow-alt-circle-down"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>




<app-contact></app-contact>
<app-footer></app-footer>