.btn-cv {
    z-index: 4;
    position: relative;
    border: 1px solid #ff0095;
    background-color: #ff0095b2;
    color: var(--colorBlanco);
    border-radius: 100px;
    font-weight: 600;
}

.img-perfil-aboutme {
    width: 500px;
}

// secciones about
.seccion-aboutme {
    margin-top: 50px;
    padding: 80px;
    position: relative;
}

// titulos about me
.titulos-aboutme {
    font-weight: bold;
    font-size: 50px;
    color: var(--colorPrimario);
}
.subtitulo-aboutme {
    font-weight: bold;
}

.description-aboutme {
    font-size: 14px;
}




@keyframes slideIn {
    0% {
        transform: scale(50);
    }
}



@media only screen and (max-width: 380px) {
    // secciones
    .seccion-aboutme {
        padding: 10px;
    }
    .img-perfil-aboutme {
        margin-top: 50px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
