<div class="portada portada-about">
    <div class="text-portada">
        <h1><span class="title-portada">About</span> <br> <span class="title-me">
                Me
            </span></h1>
        <p class="p-portada">I like the UI / UX design <br>
            and FrontEnd development</p>
        <a href="#description" class="btn btn-ver-mas"> <i class="fas fa-arrow-circle-down"></i> See more</a>
    </div>
</div>

<section class="seccion-aboutme" id="description">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <h1 class="titulos-aboutme">Who I Am?</h1>
                <h4 class="subtitulo-aboutme">My name is Emmanuel De León</h4>
                <p class="description-aboutme">
                    I am a person who is passionate about the design and interaction of applications, I like to create
                    designs with a good user experience as well as FrontEnd development using different languages ​​such
                    as HTML, CSS, JavaScript and technologies such as Angular and React. I have experience in academic
                    projects, work experience in projects of institutions outside the university, and personal projects.

                </p>

                <button class="btn btn-cv"><i class="fas fa-briefcase"></i> Curriculum vitae</button>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="img-perfil-aboutme" src="/assets/images/img-aboutme.png" alt="">
            </div>
        </div>
    </div>
</section>








<app-footer></app-footer>