<div class="portada-about">
    <div class="text-aboutme">
        <h1><span class="title-about">About</span> <br> <span class="title-me">
                Me
            </span></h1>
        <p class="p-about">I like the UI / UX design <br>
            and FrontEnd development</p>
        <a href="#description" class="btn btn-ver-mas"> <i class="fas fa-arrow-circle-down"></i> See more</a>
    </div>

</div>

<section class="seccion-aboutme" id="description">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <h1 class="titulos-aboutme">Who I Am?</h1>
                <h4 class="subtitulo-aboutme">My name is Emmanuel De León</h4>
                <p class="description-aboutme">
                    I am a person who is passionate about the design and interaction of applications, I like to create
                    designs with a good user experience as well as FrontEnd development using different languages ​​such
                    as HTML, CSS, JavaScript and technologies such as Angular and React. I have experience in academic
                    projects, work experience in projects of institutions outside the university, and personal projects.

                </p>

                <button class="btn btn-cv"><i class="fas fa-briefcase"></i> Curriculum vitae</button>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="img-perfil-aboutme" src="/assets/images/img-aboutme.png" alt="">
            </div>
        </div>
    </div>
</section>

<div class="container">
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero id maiores quod animi amet, sit sed, rerum
        obcaecati exercitationem ab saepe fugit dolore rem quo nemo aliquid ea adipisci placeat magnam cum. Beatae sequi
        illo in modi doloribus tenetur odit iusto, ipsam iure ipsum. Blanditiis modi ut perferendis excepturi veritatis
        corrupti beatae? Labore, magni quia. Officiis aperiam, deserunt illo velit commodi magni eum! Totam at quod a
        animi! Earum vel veritatis ipsam totam reiciendis non id, eos, ea repellat quidem vero deserunt expedita
        voluptatum rerum facere officia nam porro illum inventore et quibusdam magni similique sapiente at? Saepe,
        architecto? Laborum. </p>

</div>