<div class="portada portada-about" id="portada-skills-id">
    <div class=" container-text">
        <div class="text-portada">
            <h1><span class="title-portada">Personal</span> <br> <span class="title-me">
                    Skills
                </span></h1>
            <p class="p-portada">
                Creativity

            </p>
            <a href="#description" class="btn btn-ver-mas"> <i class="fas fa-arrow-circle-down"></i> See
                more</a>
        </div>
    </div>
</div>