.box {
    background: #fff;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    transition: transform 0.2s;
    cursor: pointer;
}
.box:hover {
    transform: scale(1.025);
}

.box .percent {
    width: 150px;
    height: 150px;
    position: relative;
}
.box .percent svg {
    width: 150px;
    height: 150px;
    position: relative;
}
.box .percent svg circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}
.box .percent svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}

.box .percent svg #html {
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: var(--colorPrimario);
}

.box .percent svg #css {
    stroke-dashoffset: calc(440 - (440 * 85) / 100);
    stroke: var(--colorPrimario);
}

.box .percent svg #js {
    stroke-dashoffset: calc(440 - (440 * 65) / 100);
    stroke: var(--colorPrimario);
}

.box .percent svg #ux {
    stroke-dashoffset: calc(440 - (440 * 85) / 100);
    stroke: var(--colorPrimario);
}

.box .percent .num {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #111;
}
.box .percent .num h2 {
    font-size: 48px;
}
.box .percent .num h2 span {
    font-size: 24px;
}
.box .text {
    padding: 10px 0 0;
    color: #999;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
}
