<div class="portada portada-about" id="portada-skills-id">
    <div class=" container-text">
        <div class="text-portada">
            <h1><span class="title-portada">Personal</span> <br> <span class="title-me">
                    Skills
                </span></h1>
            <p class="p-portada">
                Creativity

            </p>
            
        </div>
    </div>
</div>


<section>
    <div class="container">

        <h1 class="text-center mt-4">Skills</h1>
        <p class="text-center">I like to work in a team and I consider myself a very creative person
        </p>

        <div class="mt-2 mb-4">
            <div class="row justify-content-center">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle id="html" cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="num">
                            <h2>90<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">HTML</h2>
                </div>

                <div class="box ml-3">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle id="css" cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="num">
                            <h2>85<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">CSS</h2>
                </div>

                <div class="box ml-3">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle id="js" cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="num">
                            <h2>65<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">JavaScript</h2>
                </div>

                <div class="box ml-3">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle id="ux" cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="num">
                            <h2>90<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">UI/UX</h2>
                </div>
            </div>
        </div>



        <section class="seccion position-relative mb-5" id="habilidades">
            <div class="container">
                <div class="col-12">
                    <h1 class="text-center mt-4">Technologies </h1>

                    <p class="color-text text-center">These are some <span class="color-primary"> technologies and
                            programming languages</span> that I have <span class="color-primary"> experience </span>
                        with
                    </p>

                </div>
                <div data-aos="fade-up">
                    <div class="row justify-content-center">
                        <div class="imagen-logos-tecnologias">
                            <img class="logos" src="assets/images/tecnologias/html.png" alt="html">
                        </div>
                        <div class="imagen-logos-tecnologias">
                            <img class="logos" src="assets/images/tecnologias/css.png" alt="css">
                        </div>
                        <div class="imagen-logos-tecnologias">
                            <img class="logos" src="assets/images/tecnologias/js.png" alt="JavaScript">
                        </div>
                        <div class="imagen-logos-tecnologias">
                            <img class="logos" src="assets/images/tecnologias/ts.png" alt="TypeScript">
                        </div>
                        <div class="imagen-logos-tecnologias">
                            <img class="logos" src="assets/images/tecnologias/bootstrapp.png" alt="bootstrap">
                        </div>
                        <div class="imagen-logos-tecnologias">
                            <img class="logos" src="assets/images/tecnologias/angular.png" alt="angular">
                        </div>
                        <div class="imagen-logos-tecnologias">
                            <img class="logos" src="assets/images/tecnologias/reactjs.png" alt="reactjs">
                        </div>
                        <div class="imagen-logos-tecnologias">
                            <img class="logos" src="assets/images/tecnologias/dart.png" alt="dart">
                        </div>
                        <div class="imagen-logos-tecnologias">
                            <img class="logos" src="assets/images/tecnologias/flutter.png" alt="flutter">
                        </div>
                        <div class="imagen-logos-tecnologias">
                            <img class="logos" src="assets/images/tecnologias/java.png" alt="java">
                        </div>
                        <div class="imagen-logos-tecnologias">
                            <img class="logos" src="assets/images/tecnologias/csharp.png" alt="csharp">
                        </div>
                        <div class="imagen-logos-tecnologias">
                            <img class="logos" src="assets/images/tecnologias/ps.png" alt="ps">
                        </div>
                        <div class="imagen-logos-tecnologias">
                            <img class="logos" src="assets/images/tecnologias/xd.png" alt="xd">
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</section>