<div class="portada portada-about" id="portada-skills-id">
    <div class=" container-text">
        <div class="text-portada">
            <h1><span class="title-portada">Personal</span> <br> <span class="title-me">
                    Skills
                </span></h1>
            <p class="p-portada">
                Creativity

            </p>
            <a class="btn btn-ver-mas"> <i class="fas fa-arrow-circle-down"></i> See
                more</a>
        </div>
    </div>
</div>


<section>
    <div class="container">

        <h1 class="text-center mt-4">Skills</h1>
        <p class="text-center">I like to work in a team and I consider myself a very creative person
        </p>

        <div class="mt-2 mb-4">
            <div class="row justify-content-center">

                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle id="html" cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="num">
                            <h2>90<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">HTML</h2>
                </div>

                <div class="box ml-3">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle id="css" cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="num">
                            <h2>85<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">CSS</h2>
                </div>

                <div class="box ml-3">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle id="js" cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="num">
                            <h2>65<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">JavaScript</h2>
                </div>

                <div class="box ml-3">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle id="ux" cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="num">
                            <h2>85<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">UI/UX</h2>
                </div>

            </div>

        </div>







    </div>
</section>