/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --colorPrimario: #FF0096;
    --colorSecundario: #251A69;
    --colorAmarillo: #FFEB3B;
    --colorNegro: #020B16;
    --colorBlanco: #fff;
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--colorBlanco);
}
::-webkit-scrollbar-thumb {
    background: var(--colorNegro);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--colorNegro);
}

body{
    scroll-behavior: smooth;
}

 