/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root{
    --colorPrimario: #FF0096;
    --colorSecundario: #251A69;
    --colorAmarillo: #FFEB3B;
    --colorNegro: #020B16;
    --colorBlanco: #fff;

    --text-sm: 12px;
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--colorNegro);
}
::-webkit-scrollbar-thumb {
    background: #181c22f6;
    border-radius: 5px;
}


*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*::selection {
    background: var(--colorPrimario);
    color: var(--colorBlanco);
}

*::-moz-selection {
    background: var(--colorPrimario);
    color: var(--colorBlanco);
}



::-webkit-scrollbar-thumb:hover {
    background: var(--colorPrimario);
}



/* colores  */
.color-black{
    /* background-color: var(--color-black); */
    color: var(--colorNegro);
}

.color-black-footer{
    background-color: var(--colorNegro);
}

.color-black-fondo{
    background-color: var(--colorNegro);
    color:  var(--colorBlanco);
}

.color-white{
    color: var(--colorBlanco);
}

.color-white-fondo{
    background-color: var(--colorBlanco);
}


.color-primary{
    color: var(--colorPrimario);
}

.color-primary-fondo{
    background-color: var(--colorPrimario);
    color: var(--colorBlanco);
}


/* textos  */
.text-sm{
    font-size: var(--text-sm);
}

.title-primary{
    font-weight: bold;
}

.title-secondary{
    font-weight: 200;
}

 


