// secciones
.section-project {
    padding: 100px;
}

// proyectos realizados
.container-proyects {
    width: 100%;
    background: var(--colorNegro);
    padding: 20px;
}

.container-proyects-black {
    width: 100%;
    background: linear-gradient(to bottom, #12242b, #2e313a);
    padding: 20px;
}

.container-proyects-list {
    background-color: transparent;
    border: 1px solid var(--colorPrimario);
    border-radius: 10px;
    padding: 15px 0 15px 0;
    transition: 0.5s;
    cursor: default;
    margin: 120px 0 120px 0;
    min-height: 200px;
 }

.container-proyects-list:hover {
    -webkit-box-shadow: 10px 10px 26px -2px rgba(167, 88, 174, 1);
    -moz-box-shadow: 10px 10px 26px -2px rgba(167, 88, 174, 1);
    box-shadow: 10px 10px 26px -2px rgba(167, 88, 174, 1);
}

/* imagenes proyectos  */
.imagen-seccion-proyecto {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}
.titulo-experiencia,
.titulo-experiencia-academica,
.titulo-proyect-cotacyt,
.titulo-proyect-plataforma,
.titulo-proyect-congreso,
.titulo-proyect-next,
.titulo-proyect-borrados,
.titulo-proyect-kabum,
.titulo-proyect-kfood,
.titulo-experiencia-contactame {
    font-weight: bold;
}

.titulo-experiencia::before {
    position: absolute;
    content: "Work experience";
    font-size: 50px;
    opacity: 0.1;
    top: 0;
}

.titulo-experiencia-academica::before {
    position: absolute;
    content: "Academic experience";
    font-size: 50px;
    opacity: 0.1;
    top: 0;
}

/* etiquetas proyectos  */
.etiqueta-proyect {
    background-color: var(--colorPrimario);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}



// botones 
.btn-see-more-project{
    border-radius: 100px;
    border: 1px solid var(--colorPrimario);
    background-color: var(--colorPrimarioTransparent);
    color: var(--colorBlanco);
    text-align: center;
    &:hover{
        background-color: var(--colorPrimario);
        color: var(--colorBlanco);
    }
}