<div class="portada portada-experience" id="portada-experience-id">

    <div class=" container-text">
        <div class="text-portada">
            <h1><span class="title-portada">Work</span> <br> <span class="title-me">
                    Experience
                </span></h1>
            <p class="p-portada">
                Experience in personal, <br> academic and work projects</p>
            <a href="#workexperience" class="btn btn-ver-mas"> <i class="fas fa-arrow-circle-down"></i> See
                more</a>
        </div>
    </div>
</div>


<div class="scroll-up-btn "><i class="fas fa-arrow-circle-up"></i> </div>

<!-- proyectos realizados  -->
<section class="seccion-e position-relative" id="workexperience">
    <div class="container-proyects mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="color-white titulo-experiencia position-relative">Work experience
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container position-relative">
        <div class="justify-content-center row">
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-congreso position-relative">COTACYT Estatal
                                </h3>
                                <p class="text-sm description-aboutme"> Platform for the state evaluation of the science
                                    and
                                    technology contest in the state of Tamaulipas.

                                </p>
                                <h4 class="badge etiqueta-proyect">HTML</h4>
                                <h4 class="badge etiqueta-proyect">CSS</h4>
                                <h4 class="badge etiqueta-proyect">Bootstrap</h4>
                                <h4 class="badge etiqueta-proyect">Angular</h4>
                                <h4 class="badge etiqueta-proyect">TypeScript</h4>
                                <h4 class="badge etiqueta-proyect">PHP</h4>
                                <h4 class="badge etiqueta-proyect">MySql</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto" src="/assets/images/project-experience/cotacyt.png"
                                    alt="Proyecto Congreso ITSM 2020">
                                <div class="">
                                    <a class="social-media" target="_blank"
                                        href="https://github.com/iTzFiliSalsa/Cotacyt"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-kabum position-relative">COTACYT Nacional </h3>
                                <p class="text-sm description-aboutme">Platform for the state evaluation of the science
                                    and
                                    technology contest in Mexico.

                                </p>
                                <h4 class="badge etiqueta-proyect">HTML</h4>
                                <h4 class="badge etiqueta-proyect">CSS</h4>
                                <h4 class="badge etiqueta-proyect">Bootstrap</h4>
                                <h4 class="badge etiqueta-proyect">Angular</h4>
                                <h4 class="badge etiqueta-proyect">TypeScript</h4>
                                <h4 class="badge etiqueta-proyect">PHP</h4>
                                <h4 class="badge etiqueta-proyect">MySql</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto" src="/assets/images/project-experience/cotacyt.png"
                                    alt="Proyecto COTACYT">
                                <div class="">
                                    <a class="social-media" target="_blank"
                                        href="https://github.com/iTzFiliSalsa/Cotacyt"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-next position-relative">Plataforma Premio Estatal
                                    2020 </h3>
                                <p class="text-sm description-aboutme">Platform for the evaluation of projects in the
                                    research
                                    contest "El Gran Premio 2020".
                                </p>
                                <h4 class="badge etiqueta-proyect">HTML</h4>
                                <h4 class="badge etiqueta-proyect">CSS</h4>
                                <h4 class="badge etiqueta-proyect">Bootstrap</h4>
                                <h4 class="badge etiqueta-proyect">Angular</h4>
                                <h4 class="badge etiqueta-proyect">TypeScript</h4>
                                <h4 class="badge etiqueta-proyect">PHP</h4>
                                <h4 class="badge etiqueta-proyect">MySql</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto" src="/assets/images/project-experience/seitam1.png"
                                    alt="Proyecto COTACYT">
                                <div class="">
                                    <a class="social-media" target="_blank"
                                        href="https://github.com/iTzFiliSalsa/Cotacyt"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-congreso position-relative">Congreso ITSM
                                    2020
                                </h3>
                                <p class="text-sm description-aboutme">Development of the website of the Congreso ITSM
                                    2020
                                    dedicated to registering and displaying information about the speakers
                                </p>
                                <h4 class="badge etiqueta-proyect">HTML</h4>
                                <h4 class="badge etiqueta-proyect">CSS</h4>
                                <h4 class="badge etiqueta-proyect">Bootstrap</h4>
                                <h4 class="badge etiqueta-proyect">Angular</h4>
                                <h4 class="badge etiqueta-proyect">TypeScript</h4>
                                <h4 class="badge etiqueta-proyect">PHP</h4>
                                <h4 class="badge etiqueta-proyect">MySql</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto"
                                    src="/assets/images/project-experience/congreso.jpg"
                                    alt="Proyecto Congreso ITSM 2020">
                                <div class="">
                                    <a class="social-media" target="_blank"
                                        href="https://github.com/EmmanuelDeLaion/CongresoTecMante"><i
                                            class="fab fa-github"></i></a>

                                    <a class="social-media" target="_blank" href="http://tecmante.edu.mx/congreso/"><i
                                            class="fas fa-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="container-proyects mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="color-white titulo-experiencia-academica position-relative">Academic experience
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container position-relative">
        <div class="justify-content-center row">
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-kabum position-relative">KABUM</h3>
                                <p class="text-sm description-aboutme"> Design and layout of Kabum, Kahoot's clone Web
                                    App, which
                                    works locally with the use of local sockets and connections
                                </p>
                                <h4 class="badge etiqueta-proyect">HTML</h4>
                                <h4 class="badge etiqueta-proyect">CSS</h4>
                                <h4 class="badge etiqueta-proyect">React</h4>
                                <h4 class="badge etiqueta-proyect">Node JS</h4>
                                <h4 class="badge etiqueta-proyect">Socket.io</h4>
                                <h4 class="badge etiqueta-proyect">JavaScript</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto"
                                    src="/assets/images/project-experience-academic/kabum.jpg" alt="Proyecto KABUM">
                                <div class="">
                                    <a class="social-media" target="_blank" href="https://github.com/EmmanuelDeLaion"><i
                                            class="fab fa-github"></i></a>

                                    <a class="social-media" target="_blank" href="http://kabum.tecdevsmx.com/"><i
                                            class="fas fa-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-next position-relative">NextPhoto</h3>
                                <p class="text-sm description-aboutme">Website development for the NextPhoto company
                                    dedicated to
                                    showing and requesting packages of photographs
                                </p>
                                <h4 class="badge etiqueta-proyect">HTML</h4>
                                <h4 class="badge etiqueta-proyect">CSS</h4>
                                <h4 class="badge etiqueta-proyect">Bootstrap</h4>
                                <h4 class="badge etiqueta-proyect">PHP</h4>
                                <h4 class="badge etiqueta-proyect">JavaScript</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto"
                                    src="/assets/images/project-experience-academic/nextphoto.jpg"
                                    alt="Proyecto NextPhoto">
                                <div class="">
                                    <a class="social-media" target="_blank" href="https://github.com/EmmanuelDeLaion"><i
                                            class="fab fa-github"></i></a>

                                    <a class="social-media" target="_blank" href="http://nextphoto.tecdevsmx.com/"><i
                                            class="fas fa-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-borrados position-relative">Borrado´s
                                    Crochet
                                </h3>
                                <p class="text-sm description-aboutme">Web page development for the company Borrado´s
                                    Crochet
                                    dedicated to showing and requesting products
                                </p>
                                <h4 class="badge etiqueta-proyect">HTML</h4>
                                <h4 class="badge etiqueta-proyect">CSS</h4>
                                <h4 class="badge etiqueta-proyect">Bootstrap</h4>
                                <h4 class="badge etiqueta-proyect">PHP</h4>
                                <h4 class="badge etiqueta-proyect">JavaScript</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto"
                                    src="/assets/images/project-experience-academic/borrados.jpg"
                                    alt="Proyecto Borrados Crochet">
                                <div class="">
                                    <a class="social-media" target="_blank" href="https://github.com/EmmanuelDeLaion"><i
                                            class="fab fa-github"></i></a>
                                    <a class="social-media" target="_blank"
                                        href="http://borrados-crochet.tecdevsmx.com/"><i class="fas fa-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-kfood position-relative">KFood</h3>
                                <p class="text-sm description-aboutme">FrontEnd design and development of the
                                    application to
                                    order food at the ITSM
                                </p>
                                <h4 class="badge etiqueta-proyect">Flutter</h4>
                                <h4 class="badge etiqueta-proyect">Dart</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto"
                                    src="/assets/images/project-experience-academic/kfood.jpg" alt="Proyecto KFood">
                                <div class="">
                                    <a class="social-media" target="_blank"
                                        href="https://github.com/RaulHdzDev/kfood"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <a class="btn btn-see-more-project" target="_blanck"
                href="https://github.com/EmmanuelDeLaion?tab=repositories"> More projects on github
                <span> <i class="fas fa-arrow-circle-right"></i> </span></a>
        </div>
    </div>

    <div class="container">
        <h1>Diseños</h1>
 

    </div>
</section>