<div class="portada portada-experience" id="portada-experience-id">
    <div class="text-portada">
        <h1><span class="title-portada">About</span> <br> <span class="title-me">
                Me
            </span></h1>
        <p class="p-portada">I like the UI / UX design <br>
            and FrontEnd development</p>
        <a href="#description" class="btn btn-ver-mas"> <i class="fas fa-arrow-circle-down"></i> See more</a>
    </div>
</div>


<div  class="scroll-up-btn "><i class="fas fa-arrow-circle-up"></i> </div>


<svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 " preserveAspectRatio="none">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z" />
    </defs>
    <g class="parallax1">
        <use xlink:href="#gentle-wave" x="50" y="3" fill="#f461c1" />
    </g>
    <g class="parallax2">
        <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2" />
    </g>
    <g class="parallax3">
        <use xlink:href="#gentle-wave" x="50" y="9" fill="#3461c1" />
    </g>
    <g class="parallax4">
        <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff" />
    </g>
</svg>



<!-- proyectos realizados  -->

<section class="seccion-e position-relative mt-5" id="experiencia">

    <div class="container-proyects mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="color-white titulo-experiencia position-relative">Work experience
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <img class="imagen-forma-proyect" src="assets/images/forma-puntos.png" alt="">
    <div class="container position-relative">
        <div class="justify-content-center row">
            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-congreso position-relative">COTACYT Estatal
                                </h3>
                                <p class="color-text text-sm">Plataforma para la evaluación estatal del concurso de
                                    ciencia y tecnológia en el estado de tamaulipas.

                                </p>
                                <h4 class="badge etiqueta-proyect">HTML</h4>
                                <h4 class="badge etiqueta-proyect">CSS</h4>
                                <h4 class="badge etiqueta-proyect">Bootstrap</h4>
                                <h4 class="badge etiqueta-proyect">Angular</h4>
                                <h4 class="badge etiqueta-proyect">TypeScript</h4>
                                <h4 class="badge etiqueta-proyect">PHP</h4>
                                <h4 class="badge etiqueta-proyect">MySql</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto"
                                    src="/assets/images/img-project-work-experience/cotacyt.png"
                                    alt="Proyecto Congreso ITSM 2020">
                                <div class="">
                                    <a class="social-media" target="_blank"
                                        href="https://github.com/iTzFiliSalsa/Cotacyt"><i class="fab fa-github"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-kabum position-relative">COTACYT Nacional </h3>
                                <p class="color-text text-sm">Plataforma para la evaluación estatal del concurso de
                                    ciencia y tecnológia en México.

                                </p>
                                <h4 class="badge etiqueta-proyect">HTML</h4>
                                <h4 class="badge etiqueta-proyect">CSS</h4>
                                <h4 class="badge etiqueta-proyect">Bootstrap</h4>
                                <h4 class="badge etiqueta-proyect">Angular</h4>
                                <h4 class="badge etiqueta-proyect">TypeScript</h4>
                                <h4 class="badge etiqueta-proyect">PHP</h4>
                                <h4 class="badge etiqueta-proyect">MySql</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto"
                                    src="/assets/images/img-project-work-experience/cotacyt.png" alt="Proyecto COTACYT">
                                <div class="">
                                    <a class="social-media" target="_blank"
                                        href="https://github.com/iTzFiliSalsa/Cotacyt"><i class="fab fa-github"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-next position-relative">Plataforma Premio Estatal
                                    2020 </h3>
                                <p class="color-text text-sm">Plataforma para la evaluación de proyectos en el concurso
                                    de investigadores "El Gran Premio 2020".

                                </p>
                                <h4 class="badge etiqueta-proyect">HTML</h4>
                                <h4 class="badge etiqueta-proyect">CSS</h4>
                                <h4 class="badge etiqueta-proyect">Bootstrap</h4>
                                <h4 class="badge etiqueta-proyect">Angular</h4>
                                <h4 class="badge etiqueta-proyect">TypeScript</h4>
                                <h4 class="badge etiqueta-proyect">PHP</h4>
                                <h4 class="badge etiqueta-proyect">MySql</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto"
                                    src="/assets/images/img-project-work-experience/seitam.png" alt="Proyecto COTACYT">
                                <div class="">
                                    <a class="social-media" target="_blank"
                                        href="https://github.com/iTzFiliSalsa/Cotacyt"><i class="fab fa-github"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-congreso position-relative">Congreso ITSM
                                    2020
                                </h3>
                                <p class="color-text text-sm">Desarrollo de pagina web del CongresoITSM 2020
                                    dedicada a
                                    registrarse y mostrar información sobre los conferencistas</p>
                                <h4 class="badge etiqueta-proyect">HTML</h4>
                                <h4 class="badge etiqueta-proyect">CSS</h4>
                                <h4 class="badge etiqueta-proyect">Bootstrap</h4>
                                <h4 class="badge etiqueta-proyect">Angular</h4>
                                <h4 class="badge etiqueta-proyect">TypeScript</h4>
                                <h4 class="badge etiqueta-proyect">PHP</h4>
                                <h4 class="badge etiqueta-proyect">MySql</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto"
                                    src="/assets/images/img-project-work-experience/congreso.jpg"
                                    alt="Proyecto Congreso ITSM 2020">
                                <div class="">
                                    <a class="social-media" target="_blank"
                                        href="https://github.com/EmmanuelDeLaion/CongresoTecMante"><i
                                            class="fab fa-github"></i></a>

                                    <a class="social-media" target="_blank" href="http://tecmante.edu.mx/congreso/"><i
                                            class="fas fa-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="container-proyects mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="color-white titulo-experiencia-academica position-relative">Academic experience
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <img class="imagen-forma-proyect" src="assets/images/forma-puntos.png" alt="">
    <div class="container position-relative">
        <div class="justify-content-center row">

            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-kabum position-relative">KABUM</h3>
                                <p class="color-text text-sm">Diseño y maquetación de Kabum, Web App clone de
                                    Kahoot,
                                    que funciona de manera local con el uso de sockets y conexiones locales</p>
                                <h4 class="badge etiqueta-proyect">HTML</h4>
                                <h4 class="badge etiqueta-proyect">CSS</h4>
                                <h4 class="badge etiqueta-proyect">React</h4>
                                <h4 class="badge etiqueta-proyect">Node JS</h4>
                                <h4 class="badge etiqueta-proyect">Socket.io</h4>
                                <h4 class="badge etiqueta-proyect">JavaScript</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto"
                                    src="/assets/images/project-experience-academic/kabum.jpg" alt="Proyecto KABUM">
                                <div class="">
                                    <a class="social-media" target="_blank" href="https://github.com/EmmanuelDeLaion"><i
                                            class="fab fa-github"></i></a>

                                    <a class="social-media" target="_blank" href="http://kabum.tecdevsmx.com/"><i
                                            class="fas fa-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-next position-relative">NextPhoto</h3>
                                <p class="color-text text-sm">Desarrollo de pagina web para la empresa NextPhoto
                                    dedicada a mostrar y solicitar paquetes de fotografias</p>
                                <h4 class="badge etiqueta-proyect">HTML</h4>
                                <h4 class="badge etiqueta-proyect">CSS</h4>
                                <h4 class="badge etiqueta-proyect">Bootstrap</h4>
                                <h4 class="badge etiqueta-proyect">PHP</h4>
                                <h4 class="badge etiqueta-proyect">JavaScript</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto"
                                    src="/assets/images/project-experience-academic/nextphoto.jpg"
                                    alt="Proyecto NextPhoto">
                                <div class="">
                                    <a class="social-media" target="_blank" href="https://github.com/EmmanuelDeLaion"><i
                                            class="fab fa-github"></i></a>

                                    <a class="social-media" target="_blank" href="http://nextphoto.tecdevsmx.com/"><i
                                            class="fas fa-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-borrados position-relative">Borrado´s
                                    Crochet
                                </h3>
                                <p class="color-text text-sm">Desarrollo de pagina web para la empresa Borrado´s
                                    Crochet
                                    dedicada a mostrar y
                                    solicitar productos</p>
                                <h4 class="badge etiqueta-proyect">HTML</h4>
                                <h4 class="badge etiqueta-proyect">CSS</h4>
                                <h4 class="badge etiqueta-proyect">Bootstrap</h4>
                                <h4 class="badge etiqueta-proyect">PHP</h4>
                                <h4 class="badge etiqueta-proyect">JavaScript</h4>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto"
                                    src="/assets/images/project-experience-academic/borrados.jpg"
                                    alt="Proyecto Borrados Crochet">
                                <div class="">
                                    <a class="social-media" target="_blank" href="https://github.com/EmmanuelDeLaion"><i
                                            class="fab fa-github"></i></a>

                                    <a class="social-media" target="_blank"
                                        href="http://borrados-crochet.tecdevsmx.com/"><i class="fas fa-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container-proyects-list mt-2 mb-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="color-text titulo-proyect-kfood position-relative">KFood</h3>
                                <p class="color-text text-sm">Diseño y desarrollo FrontEnd de la aplicación para
                                    realizar pedidos de comida en el ITSM</p>
                                <h4 class="badge etiqueta-proyect">Flutter</h4>
                                <h4 class="badge etiqueta-proyect">Dart</h4>

                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="imagen-seccion-proyecto"
                                    src="/assets/images/project-experience-academic/kfood.jpg" alt="Proyecto KFood">
                                <div class="">
                                    <a class="social-media" target="_blank"
                                        href="https://github.com/RaulHdzDev/kfood"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <a class="btn btn-see-more-project" target="_blanck"
                href="https://github.com/EmmanuelDeLaion?tab=repositories">Más
                proyectos en github <span> <i class="fas fa-arrow-circle-right"></i> </span></a>
        </div>

    </div>
</section>






<app-footer></app-footer>