<footer class="color-black-footer footer d-flex position-relative m-footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div data-aos="fade-up">
                    <div class="container text-center">
                        <h1 class="text-tec ">Tec<span class="color-primary typing-footer">Devs</span></h1>
                        <p class="color-white text-sm"> Emmanuel De León <br>
                            <span class="color-primary"> @emmanueldl </span> | 2021
                        </p>
                        <button onclick="location.href='http://tecdevsmx.com/'" class="btn button-primary-outline"> Ir a
                            TecDevs</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <h5 class="color-primary text-center">About me
                </h5>
                <p class="color-white text-center text-sm">FrontEnd Designer and Developer
                </p>

                <div class="container text-center ">
                    <a class="social-media" target="_blank"
                        href="https://www.linkedin.com/in/jesus-emmanuel-de-leon-lerma-0903071b7/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a class="social-media" target="_blank" href="https://github.com/EmmanuelDeLaion"><i
                            class="fab fa-github"></i></a>
                    <a class="social-media" target="_blank" href="https://www.instagram.com/emmanueldelaion/"><i
                            class="fab fa-instagram"></i></a>
                    <a class="social-media" target="_blank" href="https://www.facebook.com/jesusemmanuel.lerma/"><i
                            class="fab fa-facebook"></i></a>
                    <a class="social-media" target="_blank" href="https://twitter.com/ElMonoDl"><i
                            class="fab fa-twitter"></i></a>
                    <a class="social-media" target="_blank"
                        href="https://www.tiktok.com/@jesusdeleonlerma?lang=es&is_copy_url=1&is_from_webapp=v1"><i
                            class="fab fa-tiktok"></i> </a>
                </div>

            </div>
            <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <h5 class="color-primary text-center">Contact me
                </h5>
                <div class="justify-content-center row text-center">
                    <p class="color-white text-center text-sm">+52 (831)-254-2110 <br>
                        emmanueldl@tecdevsmx.com
                    </p>

                </div>
            </div>
        </div>
        <br>
        <p class="color-white text-sm text-center ">Portfolio made in Angular by:
            <span class="color-primary">
                <a class="color-primary" target="_blanck" href="https://www.facebook.com/jesusemmanuel.lerma/"> Emmanuel
                    De León </a> </span>
        </p>
    </div>
</footer>